--disable blankLinesAtStartOfScope
--disable initCoderUnavailable
--disable wrapMultilineStatementBraces
--disable trailingCommas
--disable trailingClosures
--disable redundantReturn
--disable redundantStaticSelf
#--disable markTypes
#--marktypes if-not-empty
#--markextensions if-not-empty
#--extensionmark
#--groupedextension
--enable redundantSelf
--self init-only
--enable hoistPatternLet
--patternlet inline
--enable isEmpty
--enable leadingDelimiters
--enable elseOnSameLine
--enable anyObjectProtocol
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLinesAroundMark
--lineaftermarks true
--enable blankLinesAtStartOfScope
--enable blankLinesAtEndOfScope
--enable blankLinesBetweenImports
--enable docComments
--enable initCoderUnavailable
--enable modifierOrder
--enable numberFormatting
#--enable preferKeyPath
--enable redundantLet
--enable redundantObjc
--enable redundantPattern
--enable spaceAroundBrackets
--enable spaceInsideGenerics
--enable todos
--exclude **/Carthage
--exclude **/Pods
--exclude **/*.generated.swift
--extensionacl on-declarations
--ifdef no-indent
--stripunusedargs closure-only
--swiftversion 5.0
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions before-first
--funcattributes prev-line
--typeattributes prev-line
--varattributes prev-line